[submodule "fieldtrip"]
	path = fieldtrip
	url = https://github.com/fieldtrip/fieldtrip.git
[submodule "ShadedErrorBar"]
	path = ShadedErrorBar
	url = https://github.com/raacampbell/shadedErrorBar.git
