[submodule "fieldtrip"]
	path = fieldtrip
	url = https://github.com/fieldtrip/fieldtrip.git
[submodule "ShadedErrorBar"]
	path = ShadedErrorBar
	url = https://github.com/raacampbell/shadedErrorBar.git
[submodule "KiloSort2"]
	path = kilosort
	url = https://github.com/MouseLand/Kilosort2.git
[submodule "BuzCode"]
	path = buzcode
	url = https://github.com/buzsakilab/buzcode.git
[submodule "Phy"]
	path = phy
	url = https://github.com/cortex-lab/phy.git
[submodule "Kilosort2"]
	path = Kilosort2
	url = https://github.com/MouseLand/Kilosort2.git
[submodule "buzcode"]
	path = buzcode
	url = https://github.com/buzsakilab/buzcode.git
[submodule "phy"]
	path = phy
	url = https://github.com/cortex-lab/phy.git
