[submodule "fieldtrip"]
	path = fieldtrip
	url = https://github.com/fieldtrip/fieldtrip.git
[submodule "ShadedErrorBar"]
	path = ShadedErrorBar
	url = https://github.com/raacampbell/shadedErrorBar.git
[submodule "KiloSort2"]
	path = kilosort
	url = https://github.com/MouseLand/Kilosort2.git
[submodule "BuzCode"]
	path = buzcode
	url = https://github.com/buzsakilab/buzcode.git
[submodule "Phy"]
	path = phy
	url = https://github.com/cortex-lab/phy.git
[submodule "phy"]
	path = phy
	url = https://github.com/cortex-lab/phy.git
[submodule "open-ephys"]
	path = open-ephys
	url = https://github.com/open-ephys/analysis-tools.git
[submodule "ironclust"]
	path = ironclust
	url = https://github.com/flatironinstitute/ironclust.git
[submodule "ndmanager-plugins"]
	path = ndmanager-plugins
	url = https://github.com/neurosuite/ndmanager-plugins.git
[submodule "masmanidis"]
	path = masmanidis
	url = https://github.com/sotmasman/Silicon-microprobes.git
[submodule "matlab-schemer"]
	path = matlab-schemer
	url = https://github.com/scottclowe/matlab-schemer.git
[submodule "buzcode2"]
	path = buzcode2
	url = https://github.com/buzsakilab/buzcode.git
[submodule "buzcode"]
	path = buzcode
	url = https://github.com/buzsakilab/buzcode.git
[submodule "readfile"]
	path = readfile
	url = https://github.com/thrynae/readfile.git
[submodule "NPMK"]
	path = NPMK
	url = https://github.com/BlackrockMicrosystems/NPMK.git
[submodule "fooof_mat"]
	path = fooof_mat
	url = https://github.com/fooof-tools/fooof_mat.git
[submodule "mat_py_mat"]
	path = mat_py_mat
	url = https://github.com/fooof-tools/mat_py_mat.git
[submodule "Kilosort"]
	path = Kilosort
	url = https://github.com/MouseLand/Kilosort.git
[submodule "npy-matlab"]
	path = npy-matlab
	url = https://github.com/kwikteam/npy-matlab.git
